<header>
  <div>
    <%= image_tag("icon-logo-header.png", style: "height: 23px;", class:"head-logo", alt:"Orange Review Logo")%>
    Orange Review
  </div>
  <nav>
    <a href="#">Topics</a>
    <a href="#">Tags</a>
    <%= image_tag("icon-search-header.png", style: "height: 14px;", class:"head-magnify-orange", alt:"Magnifying Glass")%>
  </nav>
</header>
<h1>Pages#partners</h1>
<p>Find me in app/views/pages/partners.html.erb</p>
<footer>
  <div>
    <%= image_tag("icon-logo-header.png", style: "height: 23px;", class:"head-logo", alt:"Orange Review Logo")%>
    Orange Review
  </div>
  <p class="footer-tagline">
    The Best Travel Tips
  </p>
  <h6 class="copyright">
    Copyright 2018, Build Carolina.
  </h6>
</footer>
